body {
   background-image: url("food.jpg");
   background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial;
    background-color: #f8f8f8;
    margin: 0%;
   margin-top: 32px;
    height: 100vh;
}

.header {
    text-align: center;
    color: #FFD166;
    background-color:#C75A5A;
    padding: 20px;
}

.home-buttons {
    text-align: center;
    margin-top: 30px;
}
label{
  color: gold;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2B2B2B;
    color: #FFFFFF;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.center {
    text-align: center;
    margin-top: 20px;
}

table {
  
  color: #7393B3;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid gold;
    padding: 10px;
    text-align: center;
    
}

th {
    background-color: #ddd;
}
td{
  background-color: #D3D3D3;
}
.order-form {
    max-width: 300px;
    margin: auto;
}

.order-form input,
.order-form select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}
.al {
    margin: 0;
    margin-bottom: 20px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
